@charset "UTF-8";

#box{
  width: 400px;
  margin: 30px auto;
  padding: 30px 40px;
  border: red 3px;
  background-color: white;
}

dt{
  clear: left;
  float: left;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 6px;
  width: 120px;
  height: 40px;
  font-size: 20px;
  background-color: lightcoral;
}

#list{
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

th{
  
}

tb{
  
}

tf{

}
