@charset "UTF-8";

#box{
  width: 200px;
  height: 400px;
  margin: 30px auto;
  padding: 30px 40px;
  border: red 3px;
  background-color: white;
}

dt{
  clear: left;
  float: left;
}

dh{
  float: left;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 6px;
  width: 1200px;
  height: 40px;
  font-size: 20px;
  background-color: lightcoral;
}

#tab{
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

th{
  border: 1px solid lightcoral;
  background-color: mistyrose;
  width: 100px;
  padding: 5px;
  text-align: center;
}

td{
  border: 1px solid lightcoral;
  background-color: white;
  width: 100px;
  padding: 5px;
  text-align: right;
}
